* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding: 0 !important;
    margin: 0 !important;
}

a {
    text-decoration: none !important;
    color: black !important;
}
p {
    margin: 0;
}

.wrap {
    width: 100%;
    min-width: 1200px;
    /* overflow: hidden; */
    background-color: hsl(101, 61%, 19%);
}

/* header - start */

header {
    height: 80px;
    position: relative;
    background-color: hsl(0, 0%, 60%);
    top: 0;
    margin: 0;
    padding: 0;
}

/*** hedaer - top-layer-nav  */

nav {
    width: 100%;
    align-items: center;
    display: flex;
    background-color: hsl(240, 100%, 80%);
    position: relative;
    top: 0;
}

nav > * {
    display: flex;
    align-items: center;
}
nav > a {
    box-sizing: border-box;
    width: 200px;
    height: 80px;
    align-items: center;
    background-color: hsl(60, 100%, 70%);
}
nav > a > img {
    width: 200px;
}

.main-list {
    box-sizing: border-box;
    width: 900px;
    background-color: tomato;
}

.list-menu {
    background-color: aqua;
    display: flex;
    position: relative;
    top: 0;
    padding:0 20px;
}
.list-menu > a {
    background-color: white;
    /* display: block; */
    /* padding: 3px 10px; */
}

.list-menu span {
    display: block;
    font-size: 14px;
}
.list-menu span:first-child {
    font-size: 20px;
    font-weight: bold;
}

.top-layer-right {
    box-sizing: border-box;
    justify-content: flex-end;
    display: flex;
    width: calc(100% - 1100px);
    align-items: center;
    background-color: hsl(340, 60%, 80%);

}