* {
   margin: 0;
   padding: 0;
}

ul {
   list-style: none;
   padding: 0 !important;
   margin: 0 !important;
}

a {
   text-decoration: none !important;
   color: black !important;
}

p {
   margin: 0;
}
section:not(:first-child) {
   margin: 20px 0;
}

.wrap {
   width: 100%;
   min-width: 1400px;
   /* overflow: hidden; */
   /* background-color: hsl(101, 61%, 19%); */
}

/* header - start */

header {
   height: 80px;
   position: relative;
   /* background-color: hsl(0, 0%, 60%); */
   top: 0;
   margin: 0;
   padding: 0;
}

/*** hedaer - top-layer-nav  */

nav {
   width: 100%;
   align-items: center;
   display: flex;
   /* background-color: hsl(240, 100%, 80%); */
   position: relative;
   top: 0;
   z-index: 900;
}

nav > * {
   display: flex;
   align-items: center;
}

nav > a {
   padding: 0 10px;
   width: 200px;
   height: 80px;
   align-items: center;
   /* background-color: hsl(60, 100%, 70%); */
}

nav > a > img {
   width: 200px;
}

nav .main-list {
   box-sizing: border-box;
   width: 900px;
   /* background-color: tomato; */
}

.list-menu {
   /* background-color: aqua; */
   display: flex;
   position: relative;
   top: 0;
   padding: 5px 10px;
   line-height: 16px;
}

.list-menu > a {
   background-color: white;
   /* display: block; */
   padding: 10px 15px;
}

.list-menu span {
   display: block;
   font-size: 11px;
   height: 17px;
   /* background-color: red; */
   line-height: 17px;
   letter-spacing: -0.6px;
}

.list-menu span:first-child {
   font-size: 17px;
   /* background-color: blue; */
   /* height: 30px; */
   /* line-height: 30px; */
   font-weight: bold;
}

.top-layer-right {
   box-sizing: border-box;
   justify-content: flex-end;
   display: flex;
   align-items: center;
   width: calc(100% - 1100px);
   /* align-items: center; */
   /* background-color: hsl(340, 60%, 80%); */
}

.top-layer-right > div:first-child {
   display: flex;
   align-items: center;
}

.top-layer-right .login {
   background-color: rgb(240, 240, 240);
   border: 1px solid rgb(202, 202, 202);
   border-radius: 5px;
   color: black;
   font-size: 11.8px;
   letter-spacing: -0.7px;
   width: 125px !important;
   height: 30px;
   margin-right: 20px;
   font-weight: bold;
}

.login:hover {
   background-color: rgb(220, 220, 220);
}

.top-layer-right > div > div {
   width: 150px;
   padding: 10px 0px;
   /* background-color: brown; */
   display: flex;
   align-items: center;
}

.top-layer-right > div > div a {
   display: block;
   font-size: 15.5px;
   letter-spacing: -1px;
   text-align: right;
   font-weight: bold;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   letter-spacing: -0.5px;
   line-height: 18px;
}

.top-layer-right span {
   display: block;
}

.top-light-banner {
   color: hsl(120, 100%, 15%);
}

/* 
nav .login {
    font-size: 11px;
    background-color: rgb(232, 232, 232);
    border: 1px solid rgb(202, 202, 202);
    border-radius: 5px;
    color: black;
    width: 125px !important;
    height: 30px;
    margin-right: 20px;
}
 */
main-1 {
   width: 100%;
   height: 2000px;
   background-color: green;
}

/* 메인 start */
.main-1 .main-backimg {
   background-image: url(../images/bg.jpg);
   background-position: top;
   background-repeat: no-repeat;
   background-size: cover;
   height: 460px;
   display: flex;
   /* justify-content: center;
    align-items: center; */
   /* align-items: center ; */
   flex-direction: column;
   color: white;
   font-weight: bold;
   position: relative;
   width: 100%;
   /* justify-content: center; */
   /* text-align: center; */
}

.main-backimg h2 {
   font-size: 40px;
   letter-spacing: -1px;
   font-weight: bold;
}

.main-backimg > div:first-child {
   height: 44%;
   width: 100%;
   /* background-color: yellow; */
   display: flex;
   justify-content: center;
   align-items: flex-end;
}

.main-backimg > div:last-child {
   height: 56%;
   width: 100%;
   /* background-color: red; */
}

.tab_list {
   display: flex;
   width: 114px;
   height: 36px;
   justify-content: center;
   align-items: center;
   text-align: center;
   background-color: aqua;
   border-radius: 8px;
}

.tab_list#tab01 {
   border-radius: 6px 0 0 6px;
}

.tab_list#tab05 {
   border-radius: 0 6px 6px 0;
}

.tab_list a {
   /* background-color: yellow; */
   display: inline-block;
   width: 100px;
   height: 50px;
   line-height: 50px;
}

.tab_menu {
   display: none;
   position: absolute;
   left: 0px;
   width: 510px;
   height: 60px;
   top: 70px;
   border-radius: 10px 0 0 10px;
   border: none;
}

.tab_menu:focus {
   outline: none;
}

.tab_list:target .tab_menu {
   display: block;
   padding: 25px;
}

.tab_list_relative {
   position: relative;
   overflow-y: unset;
   display: flex;
   justify-content: center;
   width: 570px;
   background-color: hsla(220, 70%, 15%, 0.8);
   border-radius: 10px;
   border-bottom: none;
}
.tab_list_relative > li {
   width: 114px;
   display: flex;
   justify-content: center;
}
.tab_list_relative .nav-link {
   color: white !important;
}
.sub-menu {
   display: none;
   width: 160px;
   background-color: white;
   position: absolute;
   top: 72px;
   border: 1px solid rgb(202, 202, 202);
   font-size: 11px;
}
.main-list li:hover .sub-menu {
   display: block;
}
.sub-menu > li {
   padding: 8px 12px 8px 12px;
   letter-spacing: px;
}
.sub-menu >li:first-child {
   margin-top: 10px;
}
.sub-menu > li:last-child {
   margin-bottom: 10px;
}

input::placeholder {
   letter-spacing: -0.8px;
}

.search_post {
   display: none;
   width: 510px;
   height: 60px;
   padding: 25px;
   border: none;
   border-radius: 10px 0 0 10px;
}
.search_post:focus {
   outline: none;
}

.tab_test_btn {
   width: 60px;
   height: 60px;
   border: none;
   background-color: chocolate;
   border-radius: 0 10px 10px 0;
}

.search_box {
   display: flex;
}

.search_box:target * {
   display: block;
}

.search_content {
   display: flex;
   width: 570px;
   margin-top: 30px !important;
}

section {
   display: flex;
   justify-content: center;
   letter-spacing: -0.8px;
}
section:nth-child(2) {
   width: 900px;
   /* background-color: yellow; */
   margin: 0 auto;
   margin-top: 50px;
   background-color: tan;
   display: flex;
}
.st-2box {
   width: 32%;
}
footer {
   justify-content: center;
   width: 100%;
   margin-top: 50px;
   height: 350px;
}
footer div {
   text-align: center;
   margin: 0 auto;
}
footer p {
   font-size: 14px;
   font-weight: normal;
}
footer > span {
   font-size: 12px;
}
.footer-ic {
   margin: 30px 0;
   display: flex;
   justify-content: center;
   align-items: center;
}
.footer-icon {
   width: 36px;
   height: 36px;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid hsl(0, 0%, 85%);
   background-color: hsl(100, 30%, 95%);
   color: hsl(0, 0%, 60%);
}
.footer-icon.fa-youtube {
   padding-top: 3px;
}
